@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-full;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Roboto', 'Segoe UI' , 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #212E50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 16px;
    @apply bg-grayscale;
    @apply text-grayscale-darkest;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root Element Styling */
#root {
    @apply h-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

#modalContainer {
    @apply absolute;
    @apply inset-0;
    @apply z-50;
    @apply pointer-events-none;
}

/* Typography */
@layer base {
    .text-h4 {
        @apply font-normal;
        @apply leading-10;
        @apply text-grayscale-darkest;
        font-size: 2.125rem;
        letter-spacing: 0.25px;
    }

    .text-h5 {
        @apply font-normal;
        @apply text-2xl;
        @apply leading-7;
        @apply text-grayscale-darkest;
    }

    .text-h6 {
        @apply font-medium;
        @apply text-lg;
        letter-spacing: 0.15px;
    }

    .text-subtitle {
        @apply font-normal;
        @apply text-base;
        @apply leading-7-1/8;
        @apply text-grayscale-darkest;
        letter-spacing: 0.15px;
    }

    .text-subtitle2 {
        @apply font-medium;
        @apply text-base;
        @apply leading-7-1/8;
        @apply text-grayscale-darkest;
        letter-spacing: 0.15px;
    }

    .text-body1 {
        @apply font-normal;
        @apply text-base;
        @apply leading-7-1/8;
        @apply text-grayscale-darkest;
        letter-spacing: 0.15px;
    }

    .text-body2 {
        @apply font-normal;
        @apply text-sm;
        @apply leading-4;
        @apply text-grayscale-darkest;
        letter-spacing: 0.25px;
    }

    .text-caption {
        @apply font-normal;
        @apply text-xs;
        @apply leading-3-1/8;
        @apply text-grayscale-darkest;
        letter-spacing: 0.4px;
    }
}
