@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-full;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI' , 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 14px;
    @apply bg-grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root Element Styling */
#root {
    @apply h-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

/* Typography */
@layer base {
    h3 {
        @apply text-5xl;
        @apply leading-12;
    }

    h6 {
        @apply text-xl;
        @apply leading-12;
        @apply font-medium;
        @apply leading-snug;
        @apply text-left;
        @apply align-middle;
    }
}